[Desktop Entry]
Name=FreeTube
Comment=An Open Source YouTube app for privacy.
GenericName=FreeTube
Exec=/usr/bin/freetube
Icon=FreeTube
Type=Application
StartupNotify=true
StartupWMClass=FreeTube
Categories=GNOME;GTK;Utility;
MimeType=x-scheme-handler/freetube;
